.banner{
    background: url(../images/banner_bg.png) no-repeat;
}
.team{
    background: url(../images/banner_next_bg.png) no-repeat;
}
.foot{
    background: url(../images/foot_bg.png) no-repeat;
}
.banner,.team,.foot{
    background-size: 100% 100%;
    position: relative;
}
.menu ul{
    text-align: right;
}
.menu ul li{
    float: right;
    list-style-type: none;
    padding: 20px 0;
}
.menu ul li a,.menu ul li a:focus,.menu ul li a:active{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    padding: 0px 10px;
    line-height: 40px;
}
.menu ul li a:hover{
    background-color: #fff;
    color: #02577d;
}
.text-logo{
    position: absolute;
    right: 10%;
    top: 60%;
}
.product .pt50 .col-md-3{
    padding: 20px 0 0;
}
.product .pt50 .col-md-3 .con{
    height: 130px;
}
.product .pt50 .col-md-3 .title{
    padding-top: 30px;
    margin-left: 35px;
}
.product .pt50 .col-md-3 p{
    padding-left: 35px;
    font-size: 18px;
    color: #9a9a9a;
}
.title_pic_01,.title_pic_02,.title_pic_03,.title_pic_04{
    margin-top: 60px;
}
.title_pic_01 img,.title_pic_02 img,.title_pic_03 img,.title_pic_04 img{
    width: 100%;
}
.collaborate{
    padding-top: 60px;
}
.collaborate .col-md-2{
    padding: 80px 0;
    height: 218px;
}
.foot{
    height: 600px;
    padding-top: 150px;
}
.foot i{
    color: #fff;
}
.foot .fw{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}
.foot .word_sm{
    color: #a7c3d0;
    font-size: 16px;
    padding-bottom: 15px;
}
.foot .word_sm_fw{
    color: #a7c3d0;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}

.bdr{
    border-right: 2px solid #f2f2f2;
}
.bdt{
    border-top: 1px solid #4a7d97;
}
.bdtb{
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
.mt15{
    margin-top: 15%;font-size: 22px;
}
.mt10{
    margin-top: 10%;
}
.mt22{
    margin-top: 22%;
}
.pl40{
    padding-left: 40px;
}
.pt10{
    padding-top: 10px;
}
.pt50{
    padding-top: 75px;
}
.pt40{
    padding-top: 40px;
}
.pb30{
    padding-bottom: 10px;
}
.plr0{
    padding-left: 0px;
    padding-right: 0px;
}